
@{
    ViewBag.Title = "隐患详细信息";
    Layout = "~/Views/Shared/_Edit.cshtml";
}

<style>
    .layui-form.lb-p-m .layui-inline >.layui-form-label { width: 120px; }
    .layui-form.lb-p-m .layui-inline >.layui-form-label+ .layui-input-block { margin-left: 120px; }
</style>

<div class="content-padding">
 
<form class="layui-form layui-form-pane lb-p-m" action="">
 
  <fieldset class="layui-elem-field site-demo-button padding_lr_5">
  <legend>隐患信息</legend>
  
      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">企业名称</label>
                  <div class="layui-input-inline">
                      <input type="text" id="OrgName" name="OrgName" autocomplete="off" class="layui-input" lay-verify="required"/>
                  </div>
              </div>
          </div><div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">隐患部位</label>
                  <div class="layui-input-inline">
                      <input type="text" id="HiddenPart" name="HiddenPart" autocomplete="off" class="layui-input" lay-verify="required"/>
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">检查时间</label>
                  <div class="layui-input-inline">
                      <input type="text" autocomplete="off" id="CheckTime" name="CheckTime" class="layui-input laydate" lay-verify="required"/>
                  </div>
              </div>
          </div><div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">检查人员</label>
                  <div class="layui-input-inline">
                      <input type="text" id="CheckEmpName" name="CheckEmpName" autocomplete="off" class="layui-input" lay-verify="required"/>
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">隐患大类</label>
                  <div class="layui-input-inline">
                      <select name="HiddenTypeL" id="HiddenTypeL" lay-verify="required">
                          <option value="">请选择</option>
                          <option value="基础管理">基础管理</option>
                          <option value="现场管理">现场管理</option>
                      </select>
                  </div>
              </div>

          </div><div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">隐患小类</label>
                  <div class="layui-input-inline">
                      <select name="HiddenTypeS" id="HiddenTypeS" lay-verify="required">
                          <option value="">请选择</option>
                          <option value="A01">资质证照</option>
                          <option value="A02">安全生产管理机构及人员</option>
                          <option value="A03">安全规章制度</option>
                          <option value="A04">安全培训教育</option>
                          <option value="A05">安全投入</option>
                          <option value="A06">相关方面管理</option>
                          <option value="A07">重大危险源管理</option>
                          <option value="A08">个体防护装备</option>
                          <option value="A09">职业健康</option>
                          <option value="A10">应急管理</option>
                          <option value="A11">隐患排查治理</option>
                          <option value="A12">事故报告、调查和处理</option>
                          <option value="A99">其他</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">隐患级别</label>
                  <div class="layui-input-inline">
                      <select name="HiddenLevel" id="HiddenLevel" lay-verify="required">
                          <option value="">请选择</option>
                          <option value="一般隐患">一般隐患</option>
                          <option value="重大隐患">重大隐患</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item layui-form-text">
          <div class="layui-col-xs12">
                  <label class="layui-form-label">隐患内容</label>
                  <div class="layui-input-block">
                      <textarea placeholder="请描述简单隐患内容" id="HiddenContent" name="HiddenContent" class="layui-textarea" lay-verify="required"></textarea>
                  </div>
          </div>
      </div>

      <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">整改前照片</label>
          <div class="layui-input-block padding_lr_5 padding_tb_5">
              <div class="layui-upload" data-mdname="imgBefore" data-title="整改前照片"></div>
          </div>
      </div>  
  </fieldset>

  <fieldset class="layui-elem-field site-demo-button padding_lr_5">
        <legend>整改信息</legend>
      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">整改责任部门</label>
                  <div class="layui-input-inline">
                      <input type="text" id="ResponseOrgName" name="ResponseOrgName" autocomplete="off" class="layui-input">
                  </div>
              </div>
          </div><div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">整改期限</label>
                  <div class="layui-input-inline">
                      <input type="text" id="TimeLimit" autocomplete="off" name="TimeLimit" class="layui-input laydate">
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">整改责任人</label>
                  <div class="layui-input-inline">
                      <input type="text" id="ResponseEmpName" name="ResponseEmpName" autocomplete="off" class="layui-input">
                  </div>
              </div>
          </div><div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">责任人电话</label>
                  <div class="layui-input-inline">
                      <input type="text" id="ResponseNumer" name="ResponseNumer" autocomplete="off" class="layui-input">
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">整改措施</label>
          <div class="layui-input-block">
              <textarea placeholder="请描述整改措施" id="Measure" name="Measure" class="layui-textarea" lay-verify="required"></textarea>
          </div>
      </div>

      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">整改结果</label>
                  <div class="layui-input-inline">
                      <select name="Result" id="Result" lay-verify="required">
                          <option value="">请选择</option>
                          <option value="已整改">已整改</option>
                          <option value="未整改">未整改</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">完成日期</label>
                  <div class="layui-input-inline">
                      <input type="text" id="CompleteTime" autocomplete="off" name="CompleteTime" class="layui-input laydate">
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">整改后照片</label>
          <div class="layui-input-block padding_lr_5 padding_tb_5">
              <div class="layui-upload" data-mdname="imgAfter" data-title="整改后照片"></div>
          </div>
      </div>  

    </fieldset>
  
  <fieldset class="layui-elem-field site-demo-button padding_lr_5">
        <legend>验证信息</legend>
      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">验证部门</label>
                  <div class="layui-input-inline">
                      <input type="text" name="ValidateOrg" autocomplete="off" class="layui-input">
                  </div>
              </div>
          </div><div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">验证人员</label>
                  <div class="layui-input-inline">
                      <input type="text" name="ValidateEmpName" autocomplete="off" class="layui-input">
                  </div>
              </div>
          </div>
      </div>

      <div class="layui-form-item">
          <div class="layui-col-xs6">
              <div class="layui-inline">
                  <label class="layui-form-label">验证日期</label>
                  <div class="layui-input-inline">
                      <input type="text" autocomplete="off" name="ValidateDate" class="layui-input laydate">
                  </div>
              </div>
              <div class="layui-inline">
              </div>
          </div>
      </div>

    </fieldset>

  <div class="layui-form-item text-center footer_area">
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btnSub">保存</button>
        <button class="layui-btn layui-btn-primary" id="btnBack">返回</button>
  </div>
  <div class="footer_area_clearfix"></div>
</form>
</div>              

<script>
    var _HiddenDangerId = "";
    pageLoad = function (postData) {
        layui.use(['form', 'laydate', 'util'], function () {
            var form = layui.form,
                $ = layui.jquery,
                layer = layui.layer,
                util = layui.util,
                laydate = layui.laydate,
                Cm_editMode = $.Cm_Setting.editMode,
                _self = parent.layer.getFrameIndex(window.name), //获取窗口索引
                IsReadOnly = postData.editMode == Cm_editMode.view,
                IsEdit = postData.editMode == Cm_editMode.edit,
                saveMethed = IsEdit ? "putAsync" : "postAsync",
                user = $.Cm_Auth.userInfo(),
                _pageData = postData.pageData || {};

            _HiddenDangerId = _pageData.HiddenDangerId || $.Cm_Common.getGuid();

            //必填项 加*
            $("[lay-verify='required']").parent().prev().prepend($("<i>", { "class": "fa fa-asterisk text-s color-lightred margin_lr_5" }));

            //常规用法
            lay('.laydate').each(function () {
                laydate.render({
                    elem: this
                  , trigger: 'focus'
                });
            });

            
            util.fixbar();//右下角工具栏

            switch (postData.editMode) {
                case Cm_editMode.view:
                case Cm_editMode.edit:
                    var fileds = [
                        "OrgName",
                        "HiddenPart",
                        "CheckTime",
                        "CheckEmpName",
                        "HiddenTypeL",
                        "HiddenTypeS",
                        "HiddenLevel",
                        "HiddenContent",
                        "ResponseOrgName",
                        "TimeLimit",
                        "ResponseEmpName",
                        "ResponseNumer",
                        "Measure",
                        "Result",
                        "CompleteTime",
                        "ValidateOrg",
                        "ValidateEmpName",
                        "ValidateDate"
                    ];

                    $.each(fileds, function (_i, _t) {
                        $("[name='" + _t + "']").val(_pageData[_t] || "");
                    });

                    $("[name='CheckTime']").val(_pageData.CheckTime && $.Cm_DateTime.dateFormat(_pageData.CheckTime, "yyyy-MM-dd") || "")
                    $("[name='ValidateDate']").val(_pageData.ValidateDate && $.Cm_DateTime.dateFormat(_pageData.ValidateDate, "yyyy-MM-dd") || "")
                    $("[name='TimeLimit']").val(_pageData.TimeLimit && $.Cm_DateTime.dateFormat(_pageData.TimeLimit, "yyyy-MM-dd") || "")
                    $("[name='CompleteTime']").val(_pageData.CompleteTime && $.Cm_DateTime.dateFormat(_pageData.CompleteTime, "yyyy-MM-dd") || "")


                    if (IsReadOnly) {
                        $(":input:not(#btnBack)").attr("disabled", true);
                        $("[lay-filter='btnSub']").remove();
                    }
                    break;
                case Cm_editMode.add:
                    _HiddenDangerId = $.Cm_Common.getGuid();
                    break;
            }

            $(".layui-upload").each(function (_i, _t) {
                $.Cm_Dialog.showImgScan({
                    title:$(_t).attr("data-title"),
                    container: _t,
                    IsReadOnly:IsReadOnly,
                    setting: {
                        data: {
                            RelevanceId: _HiddenDangerId,
                            FromTableName: "T_YH_HiddenDanger",
                            FromModuleName: $(_t).attr("data-mdname")
                        }
                 }
            });
        });

            form = layui.form;
            form.render();

            //返回
            $("#btnBack").click(function () {
                TopWin.layer.close(_self);
            });

            //监听提交
            form.on('submit(btnSub)', function (data) {
                var saveData = {
                },
                    _url = baseConst.odata + "T_YH_HiddenDanger_Entity";

                $.extend(saveData, data.field);
                if (IsEdit) {
                    _url += "('" + _HiddenDangerId + "')";
                    saveData.CreateTime = saveData.CreateTime&&moment(saveData.CreateTime)||null;
                }
                else {
                    $.extend(saveData, {
                        HiddenDangerId: _HiddenDangerId
                        , IsDeleted: false
                    });
                }

                saveData.CheckTime = saveData.CheckTime&&moment(saveData.CheckTime)||null;
                saveData.ValidateDate = saveData.ValidateDate && moment(saveData.ValidateDate) || null;
                saveData.TimeLimit = saveData.TimeLimit && moment(saveData.TimeLimit) || null;
                saveData.CompleteTime = saveData.CompleteTime && moment(saveData.CompleteTime) || null;


                ($.Cm_Ajax)[saveMethed](_url, saveData).done(function () {
                   TopWin.layer.alert("操作成功", function (index) {
                        TopWin.layer.close(index);
                        TopWin.layer.close(_self);
                    });
                }).fail(function (err) {
                    console.log(err);
                });
                return false;
            });

        });
    }

</script>

