@{
    ViewBag.Title = "隐患列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell{height:auto;line-height:1;}
    .layui-table-view .layui-table td{padding:3px 0;}
</style>

<script>
    layui.use(['datatable', 'win10'], function () {
        var datatable = layui.datatable,
            Win10 = layui.win10,
            $ = layui.jquery,
            tableId="datagrid",
            reloadTable = function () {
                datatable.reload(tableId, { page: { curr: 1 } });
            };

        datatable.render({
            elem: '#datagrid'
          , url:  "@Url.Content("~/YH/getHiddenDangerLsit")"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , height: 'full-100'
          , id: tableId
          , getFilters: function ()
          {
              var filters = [];
              filters.push("IsDeleted eq false");
              return filters;
          }
          , cols: [[
              { type: 'checkbox' }
            , { field: 'SerialNo', width: 90, align: "center", title: '隐患编号' }
            , { field: 'Result', align: "center", width: 90, title: '整改状态' }
            , { field: 'MajorCnt', align: "center", width: 90, title: '填报单位' }
            , { field: 'CheckTime', width: 90, align: "center", title: '检查时间' }
            , { field: 'HiddenPart', title: '隐患部位', align: "center" }
            , { field: 'HiddenTypeL', width: 90, align: "center", title: '隐患大类' }
            , { field: 'HiddenTypeS', width: 90, align: "center", title: '隐患小类' }
            , { field: 'HiddenContent', align: "center", title: '隐患内容' }
            , { field: 'TimeLimit', width: 90, align: "center", title: '整改期限' }
            , { field: 'CompleteTime', width: 90, align: "center", title: '完成日期' }
            , { field: '', width: 90, align: "center", title: '验证日期' }
            //, {
            //    field: 'WorkTime', width: 160, title: '工作日期',  templet: function (data) {
            //        return data.WorkTime && moment(data.WorkTime).format("YYYY-MM-DD") || "";
            //    }
            //}
          ]],
            page: true
        });


        var fncontrolMenus = {
            fnadd: function () {
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: {
                        WorkTime:new Date()
                    }
                });
            },
            fncopy: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: datas[0]
                });
            },
            fnmodify: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "edit",
                    pageData: datas[0]
                });
            },
            fndelete: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                var _index = TopWin.layer.load(), total = datas.length;
                $.each(datas, function (_i, _t) {
                    $.Cm_Ajax.putAsync(baseConst.odata + "T_YH_HiddenDanger_Entity('" + _t.RecordId + "')", { IsDeleted: true }).always(function () {
                        total--;
                        if (!total)
                        {
                            TopWin.layer.close(_index);
                            TopWin.layer.msg("操作成功！",{time:1500});
                            reloadTable();
                        }
                    });
                });
            },
            fnview: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "view",
                    pageData: datas[0]
                });
            },
            fnimport: function () {

            },
            fnexport: function () {

            },
            open: function (options) {
                TopWin.layer.open({
                    type: 2,
                    title: "隐患详情",
                    area: ['100%', '90%'],
                    fixed: true, //不固定
                    maxmin: true,
                    content: "@Url.Content("~/YH/YHEdit")",
                    success: function (frm) {
                        var _frm = frm.find("iframe").get(0).contentWindow;
                        if (typeof _frm.pageLoad == "function") {
                            _frm.pageLoad(options);
                        }
                    },
                    close: function (index) {

                    },
                    end: function (index) {
                        reloadTable();
                    }
                });
            }
        };


        $("#controlMenus>.layui-btn").click(function () {
            var type = $(this).attr("data-type");
            fncontrolMenus[type]();
        });
    });
</script>

<div class="content-padding">
    @*<div class="layui-btn-group" id="controlMenus">
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-paint-brush"></i> 我要填报</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-circle-o"></i> 零隐患上报</button>
    </div>*@
    <div class="layui-btn-group" id="controlMenus">
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-plus"></i> 新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-edit"></i> 修改</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fndelete"><i class="fa fa-remove"></i> 删除</button>
    </div>
    <table class="layui-hide" id="datagrid"></table>
</div>