@{
    ViewBag.Title = "隐患列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell{height:auto;line-height:1.5;}
</style>


<script>
    layui.use(['datatable', 'win10',"form"], function () {
        var datatable = layui.datatable,
            Win10 = layui.win10,
            $ = layui.jquery,
            tableId = "datagrid",
            form = layui.form,
            reloadTable = function () {
                datatable.reload(tableId, { page: { curr: 1 } });
            };

        datatable.render({
            elem: '#datagrid'
          , url: "@Url.Content("~/odata/")" + "T_YH_SumRecords_Entity"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , id: tableId
          , initSort: { field: 'MonthDate', type: 'desc' }
          , getFilters: function ()
          {
              var filters = [];
              filters.push("(IsDeleted eq false)");
              filters.push("(startswith(MonthDate , '" + $("#YaerDate").val() + "' ))");
              return filters.join(" and ");
          }
          , cols: [[
              { type: 'checkbox' }
            , { field: 'MonthDate', align: "center", width: 120, title: '年度月份' }
            , { field: 'CommonlyCnt', align: "center", width: 120, title: '一般隐患' }
            , { field: 'MajorCnt', align: "center", width: 120, title: '重大隐患' }
            , {
                field: '', width: 120, align: "center", title: '自查合计', templet: function (data) {
                    return data.CommonlyCnt + data.MajorCnt;
                }
            }
            , {
                field: '', align: "center", title: '操作', templet: function (data) {
                    var nowMon = moment(new Date()).format("YYYYMM");
                    return data.MonthDate == nowMon?("<div class='text-center'>" +
                            "<a href='javascript:;' class='margin_lr_5 text-s layui-btn layui-btn-normal layui-btn-xs' lay-event='fnadd'>录入</a>" +
                            "<a href='javascript:;' class='margin_lr_5 text-s layui-btn layui-btn-normal layui-btn-xs' lay-event='fnmodify'>零隐患上报</a>" +
                            "</div>"
                            ) : "<div class='text-center'><a href='javascript:;' class='layui-btn layui-btn-xs layui-btn-normal'>查看</a></div>";
                }
            }
            , {
                field: '', width: 120, align: "center", title: '监管部门查处', templet: function (data) {
                    return data.CheckedCnt;
                }
            }
            , {
                field: '', width: 120, align: "center", title: '隐患总数', templet: function (data) {
                    return data.CommonlyCnt + data.MajorCnt + data.CheckedCnt;
                }
            }
            , {
                field: '', width: 120, align: "center", title: '已整改数', templet: function (data) {
                    return data.CommonlyCnt + data.MajorCnt + data.CheckedCnt;
                }
            }
            , {
                field: '', width: 120, align: "center", title: '整改完成率', templet: function (data) {
                    return "100%";
                }
            }
            , {
                field: '', width: 120, align: "center", title: '按期整改率', templet: function (data) {
                    return "100%";
                }
            }
            
            //, {
            //    field: 'WorkTime', width: 160, title: '工作日期',  templet: function (data) {
            //        return data.WorkTime && moment(data.WorkTime).format("YYYY-MM-DD") || "";
            //    }
            //}
          ]],
            page: true
        });

        //监听行工具事件
        datatable.on('tool(datagrid)', function (obj) {
            var data = obj.data;
            fncontrolMenus[obj.event]();
        });
        form.on('select(YaerDate)', function (data) {
            datatable.reload('datagrid', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , getFilters: function () {
                    var filters = [];
                    filters.push("(IsDeleted eq false)");
                    filters.push("(startswith(MonthDate , '" + $("#YaerDate").val() + "' ))");
                    return filters.join(" and ");
                }
            });

        });
        function YHOpera()
        {
            var type = $(this).attr("data-type");
            fncontrolMenus[type]();
        }

        var fncontrolMenus = {
            fnadd: function () {
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: null
                });
            },
            fncopy: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: datas[0]
                });
            },
            fnmodify: function () {
                TopWin.layer.msg("上报成功！"); return;
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "edit",
                    pageData: datas[0]
                });
            },
            fndelete: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                var _index = TopWin.layer.load(), total = datas.length;
                $.each(datas, function (_i, _t) {
                    $.Cm_Ajax.putAsync(baseConst.odata + "T_XT_WorkRecords_Entity('" + _t.RecordId + "')", { IsDeleted: true }).always(function () {
                        total--;
                        if (!total)
                        {
                            TopWin.layer.close(_index);
                            TopWin.layer.msg("操作成功！",{time:1500});
                            reloadTable();
                        }
                    });
                });
            },
            fnview: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "view",
                    pageData: datas[0]
                });
            },
            fnimport: function () {

            },
            fnexport: function () {

            },
            open: function (options) {
                TopWin.layer.open({
                    type: 2,
                    title: "隐患详情",
                    area: ['740px', '90%'],
                    fixed: false, //不固定
                    maxmin: false,
                    content: "@Url.Content("~/YH/YHEdit")",
                    success: function (frm) {
                        var _frm = frm.find("iframe").get(0).contentWindow;  
                        if (typeof _frm.pageLoad == "function") {
                            _frm.pageLoad(options);
                        }
                    },
                    close: function (index) {

                    },
                    end: function (index) {
                       // reloadTable();
                    }
                });
            }
        };


 

        //$("#controlMenus>.layui-btn").click(function () {
        //    var type = $(this).attr("data-type");
        //    fncontrolMenus[type]();
        //});

    });
</script>

<div class="content-padding">
    @*<div class="layui-btn-group" id="controlMenus">
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-paint-brush"></i> 我要填报</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-circle-o"></i> 零隐患上报</button>
    </div>*@
  <form class="layui-form lb-p-m layui-panel" action="">
      <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年度</label>
                <div class="layui-input-inline">
                    <select id="YaerDate" name="YaerDate" lay-filter="YaerDate">
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-btn-group" id="controlMenus">
        @*<button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-plus"></i> 新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-edit"></i> 修改</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fndelete"><i class="fa fa-remove"></i> 删除</button>*@
    </div>
    <table class="layui-hide" id="datagrid" lay-filter="datagrid"></table>
</div>