@{
    ViewBag.Title = "隐患列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell{height:auto;line-height:1.5;}
</style>




<div class="content-padding">
  <form class="layui-form lb-p-m layui-panel" action="" id="searchBar">
      <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年度</label>
                <div class="layui-input-inline">
                    <select id="YearDate" name="YaerDate" lay-filter="YearDate">
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <hr/>
    <table class="layui-hide" id="datagrid" lay-filter="datagrid"></table>
</div>

<script>
    layui.use(['datatable', 'win10', "form"], function () {
        var datatable = layui.datatable,
            Win10 = layui.win10,
            $ = layui.jquery,
            tableId = "datagrid",
            Cm_editMode = $.Cm_Setting.editMode,
            form = layui.form,
            reloadTable = function () {
                datatable.reload(tableId);
            };

        datatable.render({
            elem: '#datagrid'
          , url: "@Url.Content("~/odata/T_YH_SumRecords_Entity")"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , id: tableId
          , height: 'full-100'
          , where: { "$orderby": "MonthDate desc" }
          , totalRow: true
          , getFilters: function () {
              var filters = [];
              filters.push("(IsDeleted eq false)");
              filters.push("(startswith(MonthDate , '" + $("#YearDate").val() + "' ))");
              return filters.join(" and ");
          }
          , cols: [[
              { type: 'numbers', title: '序号', totalRowText: '合计行' }
            , { field: 'MonthDate', align: "center", width: 120, title: '年度月份' }
            , { field: 'CommonlyCnt', align: "center", width: 110, title: '一般隐患' }
            , { field: 'MajorCnt', align: "center", width: 110, title: '重大隐患' }
            , {
                field: '', width: 120, align: "center", title: '自查合计', templet: function (data) {
                    return data.CommonlyCnt + data.MajorCnt;
                }
            }
            , {
                field: '', width: 120, align: "center", title: '监管部门查处', templet: function (data) {
                    return data.CheckedCnt;
                }
            }
            , {
                field: '', width: 110, align: "center", title: '隐患总数', templet: function (data) {
                    return data.CommonlyCnt + data.MajorCnt + data.CheckedCnt;
                }
            }
            , {
                field: 'CorrectCnt', width: 110, align: "center", title: '已整改数', templet: function (data) {
                    return data.CorrectCnt;
                }
            }
            , {
                field: '', width: 120, align: "center", title: '整改完成率', templet: function (data) {
                    var total = data.TotalCnt,
                        percent = (total && (parseFloat((data.CorrectCnt / (total)) * 100).toFixed(2)) || 100);
                    return "<span class='layui-badge " + (percent == 100 ? "layui-bg-green" : "") + "'>" + parseFloat(percent) + "%</span>";
                }
            }
            , {
                field: '', width: 120, align: "center", title: '按期整改率', templet: function (data) {
                    var total = data.TotalCnt,
                       percent = (total && (parseFloat((data.ScheduleCnt / (total)) * 100).toFixed(2)) || 100);
                    return "<span class='layui-badge " + (percent == 100 ? "layui-bg-green" : "") + "'>" + parseFloat(percent) + "%</span>";
                }
            }
            , {
                field: '', align: "center", title: '状态', templet: function (data) {
                    var _status = data.TotalCnt || data.IsSub;
                    return "<span class='layui-badge " + (_status && "layui-bg-green'>已" || "'>未") + "上报</span>";
                }
            }
            ,{
                field: '', width: 150, align: "center", title: '操作', fixed: "right", templet: function (data) {
                    var nowMon = moment(new Date()).format("YYYYMM");
                    return  (data.MonthDate == nowMon && !data.IsSub)? ("<div class='text-center'>" +
                            "<a href='javascript:;' class='margin_lr_5 text-s layui-btn layui-btn-normal layui-btn-xs' lay-event='fnadd'>录入</a>" +
                            "<a href='javascript:;' class='margin_lr_5 text-s layui-btn layui-btn-normal layui-btn-xs' lay-event='fnmodify'>零隐患上报</a>" +
                            "</div>"
                            ) : "<div class='text-center'><a href='javascript:;' class='layui-btn layui-btn-xs layui-btn-normal' lay-event='fnview'>查看</a></div>";
                }
            }
          ]],
            page: false
        });

        //监听行工具事件
        datatable.on('tool(datagrid)', function (obj) {
            var data = obj.data;
            fncontrolMenus[obj.event](obj.data);
        });

        form.on('select(YearDate)', function (data) {
            reloadTable();
        });

        var fncontrolMenus = {
            fnadd: function (data) {
                fncontrolMenus.open({
                    editMode: Cm_editMode.add,
                    pageData: data
                });
            },
            fnmodify: function (data) {
                $.Cm_Ajax.putAsync(baseConst.odata + "T_YH_SumRecords_Entity('" + data.YHSumId + "')", { IsSub: true }).always(function () {
                    TopWin.layer.msg("上报成功！");
                    reloadTable();
                });

            },
            fnview: function (data) {
                fncontrolMenus.open({
                    editMode: Cm_editMode.view,
                    pageData: data
                });
            },
            open: function (options) {
                $.Cm_Dialog.ShowfrmDialog({
                    setting: {
                        title: "隐患详情",
                        area: ['90%', '90%'],
                        content: "@Url.Content("~/YH/YHSumViewList")",
                        end: function () {
                            reloadTable();
                        }
                    },
                    datas: options
                });
            }
        };

    });
</script>