@{
    ViewBag.Title = "隐患列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell{height:auto;line-height:1.5;}
    .searchbox .input-md{width:100px;}
</style>

<script>
    layui.use(['datatable', 'win10', "form", "laydate"], function () {
        var datatable = layui.datatable,
           Win10 = layui.win10,
           $ = layui.jquery,
           laydate = layui.laydate,
           form = layui.form,
           tableId = "datagrid",
           reloadTable = function () {
               datatable.reload(tableId, {
                   page: { curr: 1 }
               });
           };

        //常规用法
        lay('.laydate').each(function () {
            laydate.render({
                elem: this
              , trigger: 'focus'
            });
        });

        form.render();

        datatable.render({
            elem: '#datagrid'
          , url:"@Url.Content("~/odata/")" + "T_YH_HiddenDanger_Entity"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , height: '350'
          , id: tableId
          , where: { "$orderby": "SerialNo" }
          , getFilters: function () {
              var Result = $("[name='rdResult']:checked").val(),
                  SerialNo = $("#SerialNo").val(),
                  TimeLimitS = $("#TimeLimitS").val(),
                  TimeLimitE = $("#TimeLimitE").val();

              var $filters = $({}).data("result","IsDeleted eq false");
              Result?$filters.odataLet("Result", Result):"";
              SerialNo ? $filters.odataLet("SerialNo", SerialNo, true) : "";
              TimeLimitS ? $filters.odataWhereDate("TimeLimit", ">=", TimeLimitS) : "";
              TimeLimitE ? $filters.odataWhereDate("TimeLimit", "<", $.Cm_DateTime.dateAddDays(TimeLimitE, 1)) : "";
              return $filters.data("result");
          }
          , cols: [[
              { type: 'checkbox' }
            , { field: 'SerialNo', width: 90, align: "center", title: '隐患编号' }
            , {
                field: 'Result', align: "center", width: 90, title: '整改状态', templet: function (data)
                {
                    return data.Result && "<span class='layui-badge " + (({ "已整改": "layui-bg-green", "未整改": "" }[data.Result]) || "") + "'>" + data.Result + "</span>" || "";
                }
            }
            , { field: 'MajorCnt', align: "center", width: 90, title: '填报单位' }
            , {
                field: 'CheckTime', width: 120, align: "center", title: '检查时间', templet: function (data) {
                    return data.CheckTime && moment(data.CheckTime).format("YYYY-MM-DD") || "";
                }
            }
            , { field: 'HiddenPart', title: '隐患部位', align: "center" }
            , { field: 'HiddenTypeL', width: 90, align: "center", title: '隐患大类' }
            , { field: 'HiddenTypeS', width: 90, align: "center", title: '隐患小类' }
            , { field: 'HiddenContent', align: "center", title: '隐患内容' }
            , {
                field: 'TimeLimit', width: 120, align: "center", title: '整改期限', templet: function (data) {
                    return data.TimeLimit && moment(data.TimeLimit).format("YYYY-MM-DD") || "";
                }
            }
            , {
                field: 'CompleteTime', width: 120, align: "center", title: '完成日期', templet: function (data) {
                    return data.CompleteTime && moment(data.CompleteTime).format("YYYY-MM-DD") || "";
                }
            }
            , {
                field: 'ValidateDate', width: 120, align: "center", title: '验证日期', templet: function (data) {
                return data.ValidateDate && moment(data.ValidateDate).format("YYYY-MM-DD") || "";
            }
            }
          ]],
          page:true
        });

        //layer.msg('努力中...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: '50%', time: 1000 });

        var fncontrolMenus =
            {
            fnadd: function () {
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: null
                });
            },
            fncopy: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: datas[0]
                });
            },
            fnmodify: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "edit",
                    pageData: datas[0]
                });
            },
            fndelete: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                var _index = TopWin.layer.load(), total = datas.length;
                $.each(datas, function (_i, _t) {
                    $.Cm_Ajax.putAsync(baseConst.odata + "T_YH_HiddenDanger_Entity('" + _t.HiddenDangerId + "')", { IsDeleted: true }).always(function () {
                        total--;
                        if (!total)
                        {
                            TopWin.layer.close(_index);
                            TopWin.layer.msg("操作成功！",{time:1500});
                            reloadTable();
                        }
                    });
                });
            },
            fnview: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "view",
                    pageData: datas[0]
                });
            },
            fnimport: function () {

            },
            fnexport: function () {

            },
            open: function (options) {
                TopWin.layer.open({
                    type: 2,
                    title: "隐患详情",
                    area: ['740px', '90%'],
                    fixed: true, //不固定
                    maxmin: false,
                    content: "@Url.Content("~/YH/YHEdit")",
                    success: function (frm) {
                        var _frm = frm.find("iframe").get(0).contentWindow;
                        if (typeof _frm.pageLoad == "function") {
                            _frm.pageLoad(options);
                        }
                    },
                    close: function (index) {

                    },
                    end: function (index) {
                        reloadTable();
                    }
                });
            }
        };
        $('.layui-form-item .layui-btn').on('click', function () {
            reloadTable();
        });

        $("#controlMenus>.layui-btn").click(function () {
            var type = $(this).attr("data-type");
            fncontrolMenus[type]();
        });

    });
</script>



<div class="content-padding">
    <form class="layui-form lb-p-m layui-panel" action="">
        <div class="layui-form-item searchbox">
                <div class="layui-inline">
                    <label class=" layui-form-label">
                        检查时间：
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline input-md">
                            <input type="text" name="TimeLimitS" id="TimeLimitS" lay-verify="date" placeholder="检查日期起" autocomplete="off" class="layui-input laydate">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline input-md">
                            <input type="text" name="TimeLimitE" id="TimeLimitE" lay-verify="date" placeholder="检查日期止" autocomplete="off" class="layui-input laydate">
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                        <label class="layui-form-label">隐患编号：</label>
                        <div class="layui-input-inline input-md">
                            <input id="SerialNo" type="text" name="SerialNo" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                <div class="layui-inline">
                    <label class="layui-form-label">整改状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="rdResult" value="" title="全部" checked="" />
                        <input type="radio" name="rdResult" value="已整改" title="已整改" />
                        <input type="radio" name="rdResult" value="未整改" title="未整改" />
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-normal" data-type="reload"><i class="fa fa-search"></i>查询</a>
                </div>
        </div>
    </form>
        <div class="layui-btn-group" id="controlMenus">
            <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnview"><i class="fa fa-eye"></i> 查看</button>
        </div>
        <table class="layui-hide" id="datagrid"></table>
</div>