@{
    ViewBag.Title = "隐患列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-inline > .layui-form-label { width: 90px; }
    .layui-inline > .layui-form-label + .layui-input-block { margin-left: 120px; }
    .layui-table-cell{height:auto;line-height:1.5;}
</style>

<div class="content-padding">
    <form class="layui-form lb-p-m layui-panel" action="">
        <table>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            检查时间起：
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline input-md">
                                <input type="text" id="CheckTimeS" lay-verify="date" autocomplete="off" class="layui-input layui-disabled" disabled>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <label class="layui-form-label">隐患等级：</label>
                        <div class="layui-input-block input-md">
                            <select name="txtHiddenLevel">
                                <option value="">全部</option>
                                <option value="一般隐患">一般隐患</option>
                                <option value="重大隐患">重大隐患</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否超期：</label>
                        <div class="layui-input-block">
                                <input type="radio" name="rdIsOver" value="All" title="全部" checked="">
                                <input type="radio" name="rdIsOver" value="Y" title="是">
                                <input type="radio" name="rdIsOver" value="N" title="否">
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr style="height:5px;"></tr>
            <tr>
                <td>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            检查时间止：
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline input-md">
                                <input type="text" id="CheckTimeE" lay-verify="date" autocomplete="off" class="layui-input layui-disabled" disabled>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="layui-inline">
                        <label class="layui-form-label">整改状态：</label>
                        <div class="layui-input-block input-md">
                            <select name="txtResult">
                                <option value="">全部</option>
                                <option value="已整改">已整改</option>
                                <option value="未整改">未整改</option>
                            </select>
                        </div>
                    </div>
                </td>                
                <td>
                    <div class="layui-inline">
                        <label class="layui-form-label">隐患编号：</label>
                        <div class="layui-input-block">
                            <input id="SerialNo" type="text" name="SerialNo" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="layui-inline padding_lr_5">
                        <a class="layui-btn layui-btn-normal" id="btnSearch"><i class="fa fa-search"></i>查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
        <div class="layui-btn-group hide" id="controlMenus">
            <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-plus"></i> 新增</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-edit"></i> 修改</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fndelete"><i class="fa fa-remove"></i> 删除</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnview"><i class="fa fa-eye"></i> 查看</button>
        </div>
        <table class="layui-hide" id="datagrid"></table>
</div>

<script>
    pageLoad = function (postData)
    {
        layui.use(['datatable', "form", "layer"], function () {
            var datatable = layui.datatable,
               $ = layui.jquery,
               form = layui.form,
               layer=layui.layer,
               tableId = "datagrid",
               IsReadOnly=postData.editMode == $.Cm_Setting.editMode.view,
               reloadTable = function () {
                   datatable.reload(tableId, {
                       page: { curr: 1 }
                   });
               };

                if (postData.pageData)
                {
                    var _pageData = postData.pageData,
                        _year = _pageData.MonthDate.substr(0, 4),
                        _mon = _pageData.MonthDate.substr(4, 2),
                        t_s = [_year, _mon, "01"].join("-"),
                        t_e = $.Cm_DateTime.dateAddDays($.Cm_DateTime.dateAddMonths(t_s, 1), -1);

                        $("#CheckTimeS").val(t_s);
                        $("#CheckTimeE").val(t_e);
                }

                if (IsReadOnly)
                {
                    $("button[data-type='fnview']").siblings().remove();
                    $("#controlMenus").removeClass("hide");
                }
                else
                {
                    $("#controlMenus").removeClass("hide");
                }


            form.render();

            datatable.render({
                elem: '#datagrid'
              , url: "@Url.Content("~/odata/T_YH_HiddenDanger_Entity")"
              , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
              , height: '350'
              , id: tableId
              , where: { "$orderby": "CreateTime desc" }
              , getFilters: function () {
                  var Result = $("[name='txtResult']").val(),
                      HiddenLevel = $("[name='txtHiddenLevel']").val(),
                      SerialNo = $("#SerialNo").val(),
                      CheckTimeS = $("#CheckTimeS").val(),
                      CheckTimeE = $("#CheckTimeE").val();

                  var $filters = $({}).data("result", "IsDeleted eq false");
                  CheckTimeS ? $filters.odataWhereDate("CheckTime", ">=", CheckTimeS) : "";
                  CheckTimeE ? $filters.odataWhereDate("CheckTime", "<", $.Cm_DateTime.dateAddDays(CheckTimeE, 1)) : "";
                  if (SerialNo)
                  {
                      $filters.odataLet("SerialNo", SerialNo, true);
                  }
                  else
                  {
                      Result ? $filters.odataLet("Result", encodeURI(Result)) : "";
                      HiddenLevel ? $filters.odataLet("HiddenLevel", encodeURI(HiddenLevel)) : "";
                  }
                  return $filters.data("result");
              }
              , cols: [[
                  { type: 'checkbox' }
                , {
                    field: 'Result', align: "center", width: 90, title: '整改状态', templet: function (data) {
                        return data.Result && "<span class='layui-badge " + (({ "已整改": "layui-bg-green", "未整改": "" }[data.Result]) || "") + "'>" + data.Result + "</span>" || "";
                    }
                }
                , { field: 'SerialNo', width: 90, align: "center", title: '隐患编号' }
                //, { field: 'MajorCnt', align: "center", width: 90, title: '填报单位' }
                , { field: 'HiddenLevel', align: "center", width: 120, title: '隐患等级', sort: true }
                , {
                    field: 'CheckTime', width: 120, align: "center", title: '检查时间', templet: function (data) {
                        return data.CheckTime && moment(data.CheckTime).format("YYYY-MM-DD") || "";
                    }
                }
                , { field: 'HiddenPart', title: '隐患部位', align: "center" }
                , { field: 'HiddenTypeL', width: 90, align: "center", title: '隐患大类' }
                , { field: 'HiddenTypeS', width: 90, align: "center", title: '隐患小类' }
                , { field: 'HiddenContent', align: "center", title: '隐患内容' }
                , {
                    field: 'TimeLimit', width: 120, align: "center", title: '整改期限', templet: function (data) {
                        return data.TimeLimit && moment(data.TimeLimit).format("YYYY-MM-DD") || "";
                    }
                }
                , {
                    field: 'CompleteTime', width: 120, align: "center", title: '完成日期', templet: function (data) {
                        return data.CompleteTime && moment(data.CompleteTime).format("YYYY-MM-DD") || "";
                    }
                }
                , {
                    field: 'ValidateDate', width: 120, align: "center", title: '验证日期', templet: function (data) {
                        return data.ValidateDate && moment(data.ValidateDate).format("YYYY-MM-DD") || "";
                    }
                }
              ]],
                page: true
            });

            //layer.msg('努力中...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: '50%', time: 1000 });

            var fncontrolMenus =
                {
                    fnadd: function () {
                        fncontrolMenus.open({
                            editMode: "add",
                            pageData: null
                        });
                    },
                    fncopy: function () {
                        var datas = datatable.checkStatus(tableId).data;
                        if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                        fncontrolMenus.open({
                            editMode: "add",
                            pageData: datas[0]
                        });
                    },
                    fnmodify: function () {
                        var datas = datatable.checkStatus(tableId).data;
                        if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                        fncontrolMenus.open({
                            editMode: "edit",
                            pageData: datas[0]
                        });
                    },
                    fndelete: function () {
                        var datas = datatable.checkStatus(tableId).data;
                        if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                        var _index = TopWin.layer.load(), total = datas.length;
                        $.each(datas, function (_i, _t) {
                            $.Cm_Ajax.putAsync(baseConst.odata + "T_YH_HiddenDanger_Entity('" + _t.HiddenDangerId + "')", { IsDeleted: true }).always(function () {
                                total--;
                                if (!total) {
                                    TopWin.layer.close(_index);
                                    TopWin.layer.msg("操作成功！", { time: 1500 });
                                    reloadTable();
                                }
                            });
                        });
                    },
                    fnview: function () {
                        var datas = datatable.checkStatus(tableId).data;
                        if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                        fncontrolMenus.open({
                            editMode: "view",
                            pageData: datas[0]
                        });
                    },
                    fnimport: function () {

                    },
                    fnexport: function () {

                    },
                    open: function (options)
                    {
                        $.Cm_Dialog.ShowfrmDialog({
                            setting:
                            {
                                title: "隐患详情",
                                area: ['740px', '90%'],
                                content: "@Url.Content("~/YH/YHEdit")",
                                end: function (index) {
                                    reloadTable();
                                }
                            },
                            datas: options
                        });
                    }
                };
            $("#btnSearch").click(function () {
                reloadTable();
            });

            $("#controlMenus>.layui-btn").click(function () {
                var type = $(this).attr("data-type");
                fncontrolMenus[type]();
            });

        });
    }
</script>
