
@{
    ViewBag.Title = "危化品申报（生产）信息维护";
    Layout = "~/Views/Shared/_Edit.cshtml";
}

<div class="content-padding">
 
<form class="layui-form lb-p-m layui-panel" action="">

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">年度</label>
                <div class="layui-input-inline">
                    <select name="Year">
                        <option value="">请选择</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
            </div>
        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">月份</label>
                <div class="layui-input-inline">
                    <select name="Month">
                        <option value="">请选择</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">申报单位</label>
                <div class="layui-input-inline">
                    <input type="text" name="ApplyOrgName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">剧毒化学品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="ToxicName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">存储地点</label>
                <div class="layui-input-inline">
                    <input type="text" name="StoragePoint" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">用途</label>
                <div class="layui-input-block">
                    <input type="text" name="Useage" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">当月进货量</label>
                <div class="layui-input-inline">
                    <input type="text" name="StorageCurMonth" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">当月使用量</label>
                <div class="layui-input-inline">
                    <input type="text" name="StorageOutCurMonth" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">现库存量</label>
                <div class="layui-input-inline">
                    <input type="text" name="StockCurMonth" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">使用单位、部门</label>
                <div class="layui-input-inline">
                    <input type="text" name="UseOrgName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">保管人</label>
                <div class="layui-input-inline">
                    <input type="text" name="StoreMan" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">保管人电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="StoreManNumber" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">责任人</label>
                <div class="layui-input-inline">
                    <input type="text" name="ResponseEmpName" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">责任人电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="ResponseNumber" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

<div class="layui-form-item text-center">
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btnSub">保存</button>

        <button class="layui-btn layui-btn-primary" id="btnBack">返回</button>
  </div>
</form>
</div>              

<script>
    var _ToxicId = "";

    pageLoad = function (postData) {
        layui.use(['form', 'laydate'], function () {
            var form = null,
                $ = layui.jquery,
                layer = layui.layer,
                laydate = layui.laydate,
                Cm_editMode = $.Cm_Setting.editMode,
                _self = parent.layer.getFrameIndex(window.name), //获取窗口索引
                IsReadOnly = postData.editMode == Cm_editMode.view,
                IsEdit = postData.editMode == Cm_editMode.edit,
                saveMethed = IsEdit ? "putAsync" : "postAsync",
                user = $.Cm_Auth.userInfo(),
                _pageData = postData.pageData || {};

            _ToxicId = _pageData.ToxicId || $.Cm_Common.getGuid();


            switch (postData.editMode) {
                case Cm_editMode.view:
                case Cm_editMode.edit:
                    var fileds = [
                         "Year",
                         "Month",
                         "ApplyOrgName",
                         "StoragePoint",
                         "ToxicName",
                         "Useage",
                         "UseOrgName",
                         "ResponseEmpName",
                         "ResponseNumber",
                         "StoreMan",
                         "StoreManNumber",
                         "StorageCurMonth",
                         "StorageOutCurMonth",
                         "StockCurMonth"
                    ];

                    $.each(fileds, function (_i, _t) {
                        $("[name='" + _t + "']").val(_pageData[_t] || "");
                    });

                    if (IsReadOnly) {
                        $(":input:not(#btnBack)").attr("disabled", true);
                        $("[lay-filter='btnSub']").remove();
                    }
                    break;
                case Cm_editMode.add:
                    _ToxicId = $.Cm_Common.getGuid();
                    break;
            }

            form = layui.form;

            form.render();

            //返回
            $("#btnBack").click(function () {
                TopWin.layer.close(_self);
            });


            //监听提交
            form.on('submit(btnSub)', function (data) {
                var saveData = {},
                    _url = baseConst.odata + "T_WH_Toxic_Entity";
                // _url ="@Url.Content("~/WH/ToxicAdd")";
                $.extend(saveData, data.field);
                if (IsEdit) {
                    _url += "('" + _ToxicId + "')";
                    $.extend(saveData, {
                        ModifyEmpCode: '11'
                    , ModifyEmpName: '11'
                    , ModifyTime: new Date()
                    });
                    saveData.CreateTime = moment(saveData.CreateTime);
                }
                else {
                    $.extend(saveData, {
                        ToxicId: _ToxicId
                    , CreateByEmpCode: '11'
                    , CreateByEmpName: '11'
                    , CreateTime:new Date()
                    , IsDeleted: false
                    });
                }

                saveData.Year = parseFloat(saveData.Year);
                saveData.Month = parseFloat(saveData.Month);
                saveData.StorageCurMonth = parseFloat(saveData.StorageCurMonth);
                saveData.StorageOutCurMonth = parseFloat(saveData.StorageOutCurMonth);
                saveData.StockCurMonth = parseFloat(saveData.StockCurMonth);

                ($.Cm_Ajax)[saveMethed](_url, saveData).done(function () {
                    TopWin.layer.alert("操作成功", function (index) {
                        TopWin.layer.close(index);
                        TopWin.layer.close(_self);
                    });
                });
                return false;
            });


        });
    }
</script>

