@{
    ViewBag.Title = "剧毒化学品月度申报";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell{height:auto;line-height:1.5;}
</style>

<script>
    layui.use(['datatable', 'win10', 'layer'], function () {
        var datatable = layui.datatable,
            Win10 = layui.win10,
            layer = layui.layer,
            $ = layui.jquery,
            Cm_editMode = $.Cm_Setting.editMode,
            tableId="datagrid",
            reloadTable = function () {
                datatable.reload(tableId, { page: { curr: 1 } });
            };

        datatable.render({
            elem: '#datagrid'
          , url: "@Url.Content("~/odata/")"+ "T_WH_Toxic_Entity"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , height: 'full-100'
          , id: tableId
          , getFilters: function ()
          {
              var filters = [];
              filters.push("IsDeleted eq false");
              return filters;
          }
          , cols: [[
              { type: 'numbers', title: '序号' }
            , { type: 'checkbox' }
            , { field: 'Year', width: 120, align: "center", title: '年度' }
            , { field: 'Month', width: 120, align: "center", title: '月份' }
            , { field: 'ToxicName', width: 100, align: "center", title: '剧毒化学品' }
            , { field: 'Useage', width: 80, title: '用途' }
            , { field: 'UseOrgName', width: 120, title: '使用部门' }
            , { field: 'ResponseEmpName', align: "center", title: '责任人' }
            , { field: 'ResponseNumber', align: "center", width: 120, title: '联系方式' }
            , { field: 'StoreMan', align: "center", width: 120, title: '保管人' }
            , { field: 'StoreManNumber', align: "center", width: 120, title: '联系方式' }
            , { field: 'StorageCurMonth', align: "center", width: 100, title: '当月进货量' }
            , { field: 'StorageOutCurMonth', align: "center", width: 100, title: '当月使用量' }
            , { field: 'StockCur', align: "center", width: 90, title: '现库存量' }
            , { field: 'IsPersonChange', align: "center", width: 180, title: '从业人员是否发生变化' }
          ]],
            page: true
        });


        var fncontrolMenus = {
            fnadd: function () {
                var _today = new Date();
                fncontrolMenus.open({
                    editMode: Cm_editMode.add,
                    pageData:
                    {
                        Year: _today.getFullYear(),
                        Month: _today.getMonth() + 1
                    }
                });
            },
            fnmodify: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: Cm_editMode.edit,
                    pageData: datas[0]
                });
            },
            fndelete: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                var _index = TopWin.layer.load(), total = datas.length;
                $.each(datas, function (_i, _t) {
                    $.Cm_Ajax.putAsync(baseConst.odata + "T_WH_Toxic_Entity('" + _t.ToxicId + "')", { IsDeleted: true }).always(function () {
                        total--;
                        if (!total)
                        {
                            TopWin.layer.close(_index);
                            TopWin.layer.msg("操作成功！",{time:1500});
                            reloadTable();
                        }
                    });
                });
            },
            fnview: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: Cm_editMode.view,
                    pageData: datas[0]
                });
            },
            fnimport: function () {

            },
            fnexport: function () {

            },
            open: function (options) {
                TopWin.layer.open({
                    type: 2,
                    title: "剧毒品维护",
                    area: ['800px', '520px'],
                    fixed: true, //不固定
                    maxmin: false,
                    content: "@Url.Content("~/WH/JDEdit")",
                    success: function (frm) {
                        var _frm = frm.find("iframe").get(0).contentWindow;
                        if (typeof _frm.pageLoad == "function") {
                            _frm.pageLoad(options);
                        }
                    },
                    end: function (index) {
                        reloadTable();
                    }
                });
            }
        };


        $("#controlMenus>.layui-btn").click(function () {
            var type = $(this).attr("data-type");
            fncontrolMenus[type]();
        });
    });
</script>

<div class="content-padding">
    <div class="layui-btn-group" id="controlMenus">
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-plus"></i> 新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-edit"></i> 修改</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fndelete"><i class="fa fa-remove"></i> 删除</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnview"><i class="fa fa-eye"></i> 查看</button>
    </div>
    <table class="layui-hide" id="datagrid"></table>
</div>