@{
    ViewBag.Title = "监测管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell{height:auto;line-height:1;}
    .layui-table-view .layui-table td{padding:3px 0;}
</style>



<div class="content-padding">
    监测管理预留
</div>