
@{
    ViewBag.Title = "从业人员信息采集维护";
    Layout = "~/Views/Shared/_Edit.cshtml";
}

<div class="content-padding">
 
<form class="layui-form lb-p-m layui-panel" action="">

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">单位</label>
                <div class="layui-input-inline">
                    <input type="text" name="OrgName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">岗位</label>
                <div class="layui-input-inline">
                    <input type="text" name="Post" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="EmpName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">身份证</label>
                <div class="layui-input-inline">
                    <input type="text" name="IdcardNo" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">

        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="ContactNum" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">户籍地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="PermanentAddress" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">现居住地地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="CurAddress" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div><div class="layui-col-xs6">
            <div class="layui-inline">
                <label class="layui-form-label">从业人员所持证件</label>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item text-center margin_tb_5">
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btnSub">保存</button>
        <button class="layui-btn layui-btn-primary" id="btnBack">返回</button>
    </div>
</form>

</div>              

<script>
    var _RecordId = "";
    pageLoad = function (postData) {
    layui.use(['form', 'laydate'], function () {
            var form = null,
                $ = layui.jquery,
                layer = layui.layer,
                laydate=layui.laydate,
                Cm_editMode = $.Cm_Setting.editMode,
                _self = parent.layer.getFrameIndex(window.name), //获取窗口索引
                IsReadOnly = postData.editMode == Cm_editMode.view,
                IsEdit = postData.editMode == Cm_editMode.edit,
                saveMethed = IsEdit ? "putAsync" : "postAsync",
                user=$.Cm_Auth.userInfo(),
                _pageData = postData.pageData || {};

            _RecordId = _pageData.RecordId || $.Cm_Common.getGuid();

            switch (postData.editMode) {
                case Cm_editMode.view:
                case Cm_editMode.edit:
                    var fileds = [
                       "OrgName",
                       "Post",
                       "EmpName",
                       "IdcardNo",
                       "ContactNum",
                       "PermanentAddress",
                       "CurAddress"
                    ];

                    $.each(fileds, function (_i, _t) {
                        $("[name='" + _t + "']").val(_pageData[_t] || "");
                    });

                    if (IsReadOnly) {
                        $(":input:not(#btnBack)").attr("disabled", true);
                        $("[lay-filter='btnSub']").remove();
                    }
                    break;
                case Cm_editMode.add:
                    _RecordId = $.Cm_Common.getGuid();
                    break;
            }

            form = layui.form;

            form.render();

        //返回
            $("#btnBack").click(function () {
                TopWin.layer.close(_self);
            });

            //监听提交
            form.on('submit(btnSub)', function (data)
            {
                var saveData = {},
                  _url = baseConst.odata + "T_WH_PersonRecord_Entity";
               // _url = "@Url.Content("~/WH/PersonRecordAdd")";

                $.extend(saveData, data.field);

                if (IsEdit) {
                    _url += "('" + _RecordId + "')";
                    $.extend(saveData, {
                        ModifyEmpCode: '11'
                    , ModifyEmpName: '11'
                    , ModifyTime: new Date()
                    });
                    saveData.CreateTime = moment(saveData.CreateTime);
                }
                else {
                    $.extend(saveData, {
                        RecordId: _RecordId
                    , CreateByEmpCode: '11'
                    , CreateByEmpName: '11'
                    , CreateTime: new Date()
                    , IsDeleted: false
                    });
                }

                ($.Cm_Ajax)[saveMethed](_url, saveData).done(function () {
                   TopWin.layer.alert("操作成功", function (index) {
                        TopWin.layer.close(index);
                        TopWin.layer.close(_self);
                    });
                });
                return false;
            });


        });
    }
</script>

