@{
    ViewBag.Title = "危化品/剧毒品/同位素从业人员备案";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    layui.use(['datatable', 'win10'], function () {
        var datatable = layui.datatable,
            Win10 = layui.win10,
            $ = layui.jquery,
            tableId="datagrid",
            reloadTable = function () {
                datatable.reload(tableId, { page: { curr: 1 } });
            };

        datatable.render({
            elem: '#datagrid'
          , url: baseConst.odata + "T_YH_Records_Entity"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , id: tableId
          , getFilters: function ()
          {
              var filters = [];
              filters.push("IsDeleted eq false");
              return filters;
          }
          , cols: [[
              { type: 'checkbox' }
            , {
                field: '', width: 120, title: '岗位', templet: function (data) {
                return data.CreateTime && moment(data.CreateTime).format("YYYYMM") || "";
                    }
            }
            , {
                field: 'CommonlyCnt', width: 120, title: '姓名', templet: function (data) {
                    return "";
                }
            }
            , {
                field: 'MajorCnt', width: 120, title: '身份证号', templet: function (data) {
                    return "";
                }
            }
            , {
                field: '', width: 120, title: '联系电话', templet: function (data) {
                    return "";
                }
            }
            , {
                field: '', title: '户籍地址', templet: function (data) {
                    return "";
                }
            }
            , {
                field: '', width: 120, title: '现居住地地址', templet: function (data) {
                    return "";
                }
            }
            , {
                field: '', width: 120, title: '从业人员所持证件', templet: function (data) {
                    return "";
                }
            }
          ]],
            page: true
        });


        var fncontrolMenus = {
            fnadd: function () {
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: {
                        WorkTime:new Date()
                    }
                });
            },
            fncopy: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: datas[0]
                });
            },
            fnmodify: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "edit",
                    pageData: datas[0]
                });
            },
            fndelete: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                var _index = TopWin.layer.load(), total = datas.length;
                $.each(datas, function (_i, _t) {
                    $.Cm_Ajax.putAsync(baseConst.odata + "T_XT_WorkRecords_Entity('" + _t.RecordId + "')", { IsDeleted: true }).always(function () {
                        total--;
                        if (!total)
                        {
                            TopWin.layer.close(_index);
                            TopWin.layer.msg("操作成功！",{time:1500});
                            reloadTable();
                        }
                    });
                });
            },
            fnview: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "view",
                    pageData: datas[0]
                });
            },
            fnimport: function () {

            },
            fnexport: function () {

            },
            open: function (options) {
                TopWin.layer.open({
                    type: 2,
                    title: "隐患详情",
                    area: ['100%', '90%'],
                    fixed: true, //不固定
                    maxmin: true,
                    content: "@Url.Content("~/YH/YHEdit")",
                    success: function (frm) {
                        var _frm = frm.find("iframe").get(0).contentWindow;
                        if (typeof _frm.pageLoad == "function") {
                            _frm.pageLoad(options);
                        }
                    },
                    close: function (index) {

                    },
                    end: function (index) {
                        reloadTable();
                    }
                });
            }
        };


        $("#controlMenus>.layui-btn").click(function () {
            var type = $(this).attr("data-type");
            fncontrolMenus[type]();
        });
    });
</script>

<div class="content-padding">
    <div class="layui-btn-group" id="controlMenus">
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-plus"></i> 新增</button>
    </div>
    <table class="layui-hide" id="datagrid"></table>
</div>