@{
    ViewBag.Title = "危化品申报（使用）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-table-cell { height: auto; line-height: 1.5; }
</style>

<script>
    layui.use(['datatable', 'win10', 'layer'], function () {
        var datatable = layui.datatable,
            Win10 = layui.win10,
            $ = layui.jquery,
            layer = layui.layer,
            tableId="datagrid",
            reloadTable = function () {
                datatable.reload(tableId, { page: { curr: 1 } });
            };

        datatable.render({
            elem: '#datagrid'
          , url: "@Url.Content("~/odata/")" + "T_WH_DangerChemUse_Entity"
          , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
          , height: 'full-100'
          , id: tableId
          , getFilters: function ()
          {
              var filters = [];
              filters.push("IsDeleted eq false");
              return filters;
          }
          , cols: [[
              { type: 'checkbox' }
            , { field: 'ToxicName', width: 150, align: "center", title: '危险化学品名称' }
            , { field: 'DangerChemCode', width: 120, align: "center", title: '危规号' }
            , { field: 'YearWastage', width: 90, align: "center", title: '年使用量' }
            , { field: 'StockMax', width: 100, align: "center", title: '最大存储量' }
            , { field: 'StoragePoint', title: '贮存地点', width: 100, align: "center" }
            , { field: 'PackWay', width: 90, align: "center", title: '包装方式' }
            , { field: 'Manufacturer', width: 180, align: "center", title: '生产企业' }
            , { field: 'HasMSDS', align: "center", title: 'MSDS' }
            , { field: 'HighSupervise', width: 160, align: "center", title: '是否重点监管化学品' }
            , { field: 'IsEasyDrugPro', width: 160, align: "center", title: '是否易制毒化学品' }
            , { field: 'IsEasybBastPro', width: 160, align: "center", title: '是否易制爆化学品' }
            , { field: 'IsHighlyToxic', width: 160, align: "center", title: '是否剧毒化学品' }
          ]],
            page: true
        });


        var fncontrolMenus = {
            fnadd: function () {
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: null
                });
            },
            fncopy: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "add",
                    pageData: datas[0]
                });
            },
            fnmodify: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "edit",
                    pageData: datas[0]
                });
            },
            fndelete: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (!datas.length) { TopWin.layer.msg("至少选择一行数据！"); return; }
                var _index = TopWin.layer.load(), total = datas.length;
                $.each(datas, function (_i, _t) {
                    $.Cm_Ajax.putAsync(baseConst.odata + "T_WH_DangerChemUse_Entity('" + _t.DangerChemId + "')", { IsDeleted: true }).always(function () {
                        total--;
                        if (!total)
                        {
                            TopWin.layer.close(_index);
                            TopWin.layer.msg("操作成功！",{time:1500});
                            reloadTable();
                        }
                    });
                });
            },
            fnview: function () {
                var datas = datatable.checkStatus(tableId).data;
                if (datas.length != 1) { TopWin.layer.msg((datas.length ? "只能" : "至少") + "选择一行数据！"); return; }
                fncontrolMenus.open({
                    editMode: "view",
                    pageData: datas[0]
                });
            },
            fnimport: function () {

            },
            fnexport: function () {

            },
            open: function (options) {
                TopWin.layer.open({
                    type: 2,
                    title: "危化品申报（使用）信息维护",
                    area: ['800px', '450px'],
                    fixed: true, //不固定
                    maxmin: false,
                    content: "@Url.Content("~/WH/WHSYEdit")",
                    success: function (frm) {
                        var _frm = frm.find("iframe").get(0).contentWindow;
                        if (typeof _frm.pageLoad == "function") {
                            _frm.pageLoad(options);
                        }
                    },
                    close: function (index) {

                    },
                    end: function (index) {
                        reloadTable();
                    }
                });
            }
        };


        $("#controlMenus>.layui-btn").click(function () {
            var type = $(this).attr("data-type");
            fncontrolMenus[type]();
        });
    });
</script>

<div class="content-padding">
    <div class="layui-btn-group" id="controlMenus">
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnadd"><i class="fa fa-plus"></i> 新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnmodify"><i class="fa fa-edit"></i> 修改</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fndelete"><i class="fa fa-remove"></i> 删除</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" data-type="fnview"><i class="fa fa-eye"></i> 查看</button>
    </div>
    <table class="layui-hide" id="datagrid"></table>
</div>