@{
    ViewBag.Title = "重大危险源信息维护";
    Layout = "~/Views/Shared/_Edit.cshtml";
}

<div class="content-padding">

    <form class="layui-form lb-p-m layui-panel" action="">
        <div class="layui-form-item">
            <div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">重大危险源名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="MajorHazardName" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div><div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">所在地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Address" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
       
        <div class="layui-form-item">
            <div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">主要负责人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="ResponseEmpName" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div><div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="ContactNum" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">政府备案部门</label>
                    <div class="layui-input-inline">
                        <input type="text" name="RecordOrgName" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div><div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">最近评估日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="EvaluationTime" autocomplete="off" class="layui-input laydate">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">评估机构</label>
                    <div class="layui-input-inline">
                        <input type="text" name="EvaluationOrg" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div><div class="layui-col-xs6">
                <div class="layui-inline">
                    <label class="layui-form-label">等级</label>
                    <div class="layui-input-inline">
                        <select name="MajorHazardLevel">
                            <option value="">请选择</option>
                            <option value="一级">一级</option>
                            <option value="二级">二级</option>
                            <option value="三级">三级</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>附件（基本特征）</legend>
            </fieldset>

            <div class="layui-upload" data-mdname="BasicFeature"></div>
        </div>

        <div class="layui-form-item">

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>附件（备案登记）</legend>
            </fieldset>

            <div class="layui-upload" data-mdname="RegisterInfo"></div>

        </div>

        <div class="layui-form-item text-center">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btnSub">保存</button>

            <button class="layui-btn layui-btn-primary" id="btnBack">返回</button>
        </div>
    </form>
</div>

<script>
    var _DossierId = "";
    pageLoad = function (postData) {
        layui.use(['form', 'laydate'], function () {
            var form = null,
                $ = layui.jquery,
                layer = layui.layer,
                laydate = layui.laydate,
                Cm_editMode = $.Cm_Setting.editMode,
                _self = parent.layer.getFrameIndex(window.name), //获取窗口索引
                IsReadOnly = postData.editMode == Cm_editMode.view,
                IsEdit = postData.editMode == Cm_editMode.edit,
                saveMethed = IsEdit ? "putAsync" : "postAsync",
                user = $.Cm_Auth.userInfo(),
                _pageData = postData.pageData || {},
                _DossierId = _pageData.DossierId || $.Cm_Common.getGuid();

            //常规用法
            laydate.render({
                elem: ".laydate"
                , theme: '#1E9FFF'
            });

            switch (postData.editMode) {
                case Cm_editMode.view:
                case Cm_editMode.edit:
                    var fileds = [
                        "Address",
                        "ContactNum",
                        "EvaluationOrg",
                        "MajorHazardLevel",
                        "MajorHazardName",
                        "ResponseEmpName",
                        "RecordOrgName",
                        "EvaluationOrg"
                    ];

                    $.each(fileds, function (_i, _t) {
                        $("[name='" + _t + "']").val(_pageData[_t] || "");
                    });

                    $("[name='EvaluationTime']").val(_pageData.EvaluationTime && $.Cm_DateTime.dateFormat(_pageData.EvaluationTime, "yyyy-MM-dd") || "")


                    if (IsReadOnly) {
                        $(":input:not(#btnBack)").attr("disabled", true);
                        $("[lay-filter='btnSub']").remove();
                    }
                    break;
                case Cm_editMode.add:
                    _DossierId = $.Cm_Common.getGuid();
                    break;
            }


            $(".layui-upload").each(function (_i, _t) {
                $.Cm_Dialog.UploadFileList({
                    container: _t,
                    IsReadOnly:IsReadOnly,
                    setting: {
                        data: {
                            RelevanceId: _DossierId,
                            FromTableName: "T_WH_MajorHazardDossier",
                            FromModuleName: $(_t).attr("data-mdname")
                        }
                    }
                });
            });

            form = layui.form;
            form.render();

            //返回
            $("#btnBack").click(function () {
                TopWin.layer.close(_self);
            });

            //监听提交
            form.on('submit(btnSub)', function (data) {
                var saveData = {},
                    _url = baseConst.odata + "T_WH_MajorHazardDossier_Entity";
                $.extend(saveData, data.field);
                if (IsEdit) {
                    _url += "('" + _DossierId + "')";
                    $.extend(saveData, {
                         ModifyTime: new Date()
                    });

                    saveData.CreateTime =saveData.CreateTime&&moment(saveData.CreateTime)||null;
                }
                else {
                    $.extend(saveData, {
                        DossierId: _DossierId
                    , CreateTime: new Date()
                    , IsDeleted: false
                    });
                }

                saveData.EvaluationTime = saveData.EvaluationTime && moment(saveData.EvaluationTime)|| null;

                ($.Cm_Ajax)[saveMethed](_url, saveData).done(function () {
                    TopWin.layer.alert("操作成功", function (index) {
                        TopWin.layer.close(index);
                        TopWin.layer.close(_self);
                    });
                });
                return false;
            });
        });

    }
</script>

